<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RCM Input Example</title>
</head>
<body>
<section>
    <!-- Image -->
    <div rcm-input-image
         data-id="optionalUID"
         data-filter="{fileType: 'image'}"
         ng-model="myValueModel"
    >
        <!--rcm-input-image-directive content-->
    </div>

    <!-- Url -->
    <div rcm-input-link-url
         data-id="optionalUID"
         ng-model="myValueModel"
    >
        <!--rcm-input-link-url-directive content-->
    </div>
</section>
</body>
</html>
