.rcmAdminManageSites .td {
    vertical-align: top;
}
.rcmAdminManageSites .tr {
    vertical-align: top;
}

.rcmAdminManageSites .domain {
    font-size: 1em;
    font-weight: bold;
}
.rcmAdminManageSites .site-duplicate-options {
    margin: .8em 0;
    padding: .5em;
    border: .1em solid #AAAAAA;
    border-radius: .3em;
}

.rcmAdminManageSites .site-duplicate-title {
    margin-bottom: 1em;
    border-bottom: 1px solid #EEEEEE;
}

.rcmAdminManageSites .buttons {
    margin: .5em 0;
    text-align :right;
}