language: php
php:
  - "5.6"
  - "5.5"
  - "5.4"
before_script:
  - "mkdir -p ~/.composer"
  - cp .travis.composer.config.json ~/.composer/config.json
  - composer self-update
  - composer update --prefer-source
script:
  - find . -type d \( -path ./vendor -o -path ./test \) -prune -o -name "*.php" -print0 | xargs -0 -n1 -P8 php -l
  - ./vendor/bin/phpunit
  - ./vendor/bin/phpcs --standard=PSR2 --ignore=vendor,test,autoload_classmap.php --extensions=php ./