<?xml version="1.0" encoding="UTF-8"?>

<phpunit>
    <php>
        <ini name="memory_limit" value="2G"/>
    </php>
    <filter>
        <blacklist>
            <directory>vendor</directory>
            <directory>test</directory>
        </blacklist>
    </filter>
    <testsuites>
        <testsuite name="rcm">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
