<div class="rcmAdminCreateSite">
    <div data-ng-controller="rcmAdminCreateSiteController">

        <h2>Create Site</h2>

        <div ng-hide="done">
            <div class="alert alert-danger" ng-show="errorMessage">
                <div>{{errorMessage}}</div>
            </div>
            <div class="alert alert-success" ng-show="message">
                <div>{{message}}</div>
            </div>
            <div class="container-fluid">
                <form class="form-horizontal" role="form">

                    <div class="form-group"
                         ng-class="{'has-error': createResult.errors.siteTitle}">
                        <label class="col-sm-4 control-label"
                               for="site-siteTitle">Site Title</label>

                        <div class="col-sm-8">
                            <input class="form-control"
                                   id="site-siteTitle"
                                   ng-model="site.siteTitle"
                                   type="text"/>

                            <div class="help-block with-errors">{{createResult.errors.siteTitle}}</div>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-error': createResult.errors.domain}">
                        <label class="col-sm-4 control-label"
                               for="site-domain">Domain</label>

                        <div class="col-sm-8">
                            <input class="form-control"
                                   id="site-domain"
                                   ng-model="site.domain"
                                   ng-required
                                   type="text"/>

                            <div class="help-block with-errors">{{createResult.errors.domain}}</div>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-error': createResult.errors.theme}">
                        <label class="col-sm-4 control-label"
                               for="site-theme">Theme</label>

                        <div class="col-sm-8">
                            <select class="form-control"
                                    id="site-theme"
                                    ng-model="site.theme"
                                    ng-options="k as v.display for (k, v) in themes">
                                <option value="" selected>--Select a Theme--</option>
                            </select>

                            <div class="help-block with-errors">{{createResult.errors.theme}}</div>
                        </div>
                    </div>

                    <!-- Not available at this time - forcing default
                    <div class="form-group" ng-class="{'has-error': createResult.errors.siteLayout}">
                        <label class="col-sm-4 control-label"
                               for="site-siteLayout">Default Page Layout</label>

                        <div class="col-sm-8">
                            <select class="form-control"
                                    id="site-siteLayout"
                                    ng-model="site.siteLayout"
                                    ng-options="k as v.display for (k, v) in themes[site.theme].layouts">
                                <option value="default" selected>{{themes[site.theme].layouts.default}} (default)</option>
                            </select>
                            <div class="help-block with-errors">{{createResult.errors.siteLayout}}</div>
                        </div>
                    </div>
                    -->
                    <input ng-model="site.siteLayout" type="hidden" value="default"/>

                    <div class="form-group"
                         ng-class="{'has-error': createResult.errors.country}">
                        <label class="col-sm-4 control-label"
                               for="site-country-iso3">Site Country</label>

                        <div class="col-sm-8">
                            <select class="form-control"
                                    id="site-country-iso3"
                                    ng-model="site.country"
                                    ng-options="v.iso3 as v.countryName for (k, v) in countries"
                                    >
                            </select>

                            <div class="help-block with-errors">{{createResult.errors.country}}</div>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-error': createResult.errors.language}">
                        <label class="col-sm-4 control-label"
                               for="site-language-iso639_2t">Site Language</label>

                        <div class="col-sm-8">
                            <select class="form-control"
                                    id="site-language-iso639_2t"
                                    ng-model="site.language"
                                    ng-options="v.iso639_2t as v.languageName for (k, v) in languages"
                                    >
                            </select>

                            <div class="help-block with-errors">{{createResult.errors.language}}</div>
                        </div>
                    </div>

                    <!-- Advanced -->
                    <div class="form-group" ng-hide="showAdvanced">
                        <div class="col-sm-4">
                            <button class="btn btn-info btn-xs"
                                    data-ng-click="showAdvanced = true">Show Advanced Options
                            </button>
                        </div>
                    </div>

                    <div ng-show="showAdvanced">
                        <div class="form-group"
                             ng-class="{'has-error': createResult.errors.status}">
                            <label class="col-sm-4 control-label"
                                   for="site-status">Site Status</label>

                            <div class="col-sm-8">
                                <select class="form-control"
                                        id="site-status"
                                        ng-model="site.status">
                                    <option value="A" selected>Active</option>
                                    <option value="D">Disabled</option>
                                </select>

                                <div class="help-block with-errors">{{createResult.errors.status}}</div>
                            </div>
                        </div>

                        <!-- Not available at this time - forcing null
                        <div class="form-group"
                             ng-class="{'has-error': createResult.errors.favIcon}">
                            <label class="col-sm-4 control-label"
                                   for="site-favIcon">Site favIcon</label>

                            <div class="col-sm-8">
                                <input class="form-control"
                                       id="site-favIcon"
                                       ng-model="site.favIcon"
                                       type="text"/>

                                <div class="help-block with-errors">{{createResult.errors.favIcon}}</div>
                            </div>
                        </div>
                        -->
                        <input ng-model="site.favIcon" type="hidden" value="" />

                        <div class="form-group"
                             ng-class="{'has-error': createResult.errors.loginPage}">
                            <label class="col-sm-4 control-label"
                                   for="site-loginPage">Site Login Page</label>

                            <div class="col-sm-8">
                                <input class="form-control"
                                       id="site-loginPage"
                                       ng-model="site.loginPage"
                                       type="text"/>

                                <div class="help-block with-errors">{{createResult.errors.loginPage}}</div>
                            </div>

                        </div>

                        <div class="form-group"
                             ng-class="{'has-error': createResult.errors.notAuthorizedPage}">
                            <label class="col-sm-4 control-label"
                                   for="site-notAuthorizedPage">Site Not Authorized Page</label>

                            <div class="col-sm-8">
                                <input class="form-control"
                                       id="site-notAuthorizedPage"
                                       ng-model="site.notAuthorizedPage"
                                       type="text"/>

                                <div class="help-block with-errors">{{createResult.errors.notAuthorizedPage}}</div>
                            </div>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error': createResult.errors.notFoundPage}">
                            <label class="col-sm-4 control-label"
                                   for="site-notFoundPage">Site Not Found Page</label>

                            <div class="col-sm-8">
                                <input class="form-control"
                                       id="site-notFoundPage"
                                       ng-model="site.notFoundPage"
                                       type="text"/>

                                <div class="help-block with-errors">{{createResult.errors.notFoundPage}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <button class="btn btn-default btn-xs"
                                        data-ng-click="showAdvanced = false">Hide Advanced Options
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-10 col-sm-1">
                            <button class="btn btn-primary btn-sm"
                                    data-ng-click="createSite()">Create Site
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="alert alert-danger" ng-show="errorMessage">
            <div>{{errorMessage}}</div>
        </div>
        <div class="alert alert-success" ng-show="message">
            <div>{{message}}</div>
        </div>
        <div ng-show="done" class="container-fluid">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-offset-10 col-sm-1">
                        <button class="btn btn-primary btn-sm"
                                data-ng-click="reset()">Create Another
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
