/* Website template by freewebsitetemplates.com */
/* Above copyright MUST be included */

body {
    background: url('/modules/rcm-generic/images/bg-body.jpg');
    margin: 0;
}

.rcmPlugin {
    display: block;
    border: 2px dotted transparent;
    width: 100%;
    position: relative;
    float: left;

}

.rcmPluginContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.rcmContainer {
    display: block;
    border: 2px dotted transparent;
}

#rcmGenMainBody .rcmPlugin {
    margin-right: 16px;
    margin-bottom: 16px;
}

#sitewrapper {
    background: url('/modules/rcm-generic/images/bg-header.jpg') no-repeat center top;
}

/*------------------------- Font ------------------------*/
@font-face {
    font-family: 'RokkittRegular';
    src: url('rokkitt-regular-webfont.eot');
    src: url('rokkitt-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('rokkitt-regular-webfont.woff') format('woff'),
    url('rokkitt-regular-webfont.ttf') format('truetype'),
    url('rokkitt-regular-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  Header */
#rcmGenTopHeader {
    background: url('/modules/rcm-generic/images/bg-navigation.jpg') no-repeat center 90px;
    width:940px;
    margin:0 auto;
    height:105px;
    padding:36px 10px 0;
    overflow: hidden;

}

#sitewrapper .SiteName {
    display:block;
    float:left;
    outline:none;
}

#sitewrapper .SiteName img {
    border:0;
}

#sitewrapper .SiteName h1 {
    font-family: 'RokkittRegular';
    color: #666666;
    font-size: 50px;
    display: block;
    position: relative;
    top: -30px;
}


/*  Navigation */
#sitewrapper .SiteNavigation {
    padding:13px 0 0;
    float:right !important;
}

#sitewrapper .SiteNavigation ul {
    margin:0;
    list-style:none;

}

#sitewrapper .SiteNavigation ul li {
    float:left;
    margin:0 0 0 63px;
    padding: 0;
}

#sitewrapper .SiteNavigation ul li.selected a, #sitewrapper .SiteNavigation ul li a:hover{
    color:#f78117;
}

#sitewrapper .SiteNavigation ul li a {
    font-size:16px;
    text-decoration:none;
    color:#5e5e5e;
    font-family: 'RokkittRegular';
    outline:none;
    display: inline;
    font-weight: normal;
}


/* Body */
#rcmGenMainBody {
    width:940px;
    margin:0 auto;
    padding:10px 10px 17px;
    overflow:hidden;
    min-height: 600px;
}

.homePageTable td p {
    text-align:justify;
}

.homePageTableTd {
    padding-right: 20px;
}

body, p {
    color:#5d5d5d;
    font-family: 'RokkittRegular';
    font-size:16px;
    line-height:25px;
    text-shadow: 0 1px 0 #fcfcfc;
    margin:0;
}

a {
    color:#606060;
    font-family: 'RokkittRegular';
    text-decoration: underline;
    outline:none;
    font-weight:normal;
    text-shadow: 0 1px 0 #fcfcfc;
}

p a {
    outline:none;
    color:#636363;
}

/*  Announcment boxess */

.rcmContainer .RcmPortalAnnouncementBox .top {
    display: none;
}

.rcmContainer .RcmPortalAnnouncementBox:first-child {
    margin:60px 0 0;
}

.rcmContainer .RcmPortalAnnouncementBox a:first-child {
    margin:0;
    padding:0;
    background:none;
    width:auto;
    display: inline;
    text-decoration: underline;
}

.rcmContainer .RcmPortalAnnouncementBox p {
    width:258px;
    text-align:justify;
    color:#828081;
    font-family: 'RokkittRegular';
    margin-top:17px;
    line-height:20px;
    font-size:14px;
    background:none;
    padding:0;
}

.rcmContainer .RcmPortalAnnouncementBox .bottom  {
    height:246px;
}

.rcmContainer .RcmPortalAnnouncementBox .linkStyle a {
    color:#606060;
    font-family: 'RokkittRegular';
    font-style:italic;
    text-decoration:none;
    padding:98px 0 0;
    margin:32px auto 0;
    display:block;
    width: 150px;
    background:url(/modules/rcm-generic/images/button-more.jpg) no-repeat center top;
    outline:none;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 0 #fcfcfc;
    float: none;
    text-align: center;
}

.rcmContainer .RcmPortalAnnouncementBox a:hover{
    color:#F78117;
}

.rcmContainer .RcmPortalAnnouncementBox {
    float:left;
    background:url(/modules/rcm-generic/images/interface.jpg) no-repeat 0 -68px!important;
    margin:60px 0 0 0;
    height:410px;
    width:281px;
    padding:0;
    border: none;
    padding-right: 15px;

}

.rcmContainer .RcmPortalAnnouncementBox .containerbox {
    padding-right: 20px;
    position: relative;
}

div .linkStyle {
    border: none;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*  Footer */

#rcmGenFooter {
    width:940px;
    background:url(../images/bg-footer.jpg) no-repeat center top;
    padding:65px 10px 30px;
    margin:0 auto;
    overflow:hidden;
}
#rcmGenFooter ul {
    list-style:none;
    margin:0 0 0 60px;
    padding:0;
    overflow:hidden;
    float:left;
}
#rcmGenFooter ul li:first-child a {
    border:none;
    padding:0 6px 0 0;
}
#rcmGenFooter ul li {
    float:left;
    padding: 0;
}
#rcmGenFooter ul li a:hover {
    color:#F78117;
}
#rcmGenFooter ul li a {
    border-width: 1px;
    border-color:#5b5b5b;
    border-style: none none none solid;
    color:#5b5b5b;
    font-size:10px;
    font-family: Trebuchet MS;
    text-decoration:none;
    font-weight:bold;
    padding:0 6px;
    outline:none;
}
#rcmGenFooter p {
    color:#5b5b5b;
    font-size:10px;
    font-family: Trebuchet MS;
    font-weight:bold;
    float:left;
    margin:0px 0 0 100px;
    line-height: 10px;
}
#rcmGenFooter div.connect {
    float:left;
    margin:0 0 0 92px;
}
#rcmGenFooter div.connect a {
    float:left;
    outline:none;
}
#rcmGenFooter div.connect a#facebook {
    width:27px;
    height:28px;
    display:block;
    text-indent:-9999px;
    background:url(../images/icons.gif) no-repeat;
}
#rcmGenFooter div.connect a#twitter{
    width:36px;
    height:28px;
    display:block;
    text-indent:-9999px;
    background:url(../images/icons.gif) no-repeat 0 -48px;
    margin:0 0 0 68px;
}
#rcmGenFooter div.connect a#vimeo{
    width:32px;
    height:28px;
    display:block;
    text-indent:-9999px;
    background:url(../images/icons.gif) no-repeat 0 -96px;
    margin:0 0 0 73px;
}


