/* Website template by freewebsitetemplates.com */
/* Above copyright MUST be included */

body {
    background: url('/modules/rcm-generic/images/bg-body.jpg');
    margin: 0;
}

#sitewrapper {
    background: url('/modules/rcm-generic/images/bg-header.jpg') no-repeat center top;
}

/*------------------------- Font ------------------------*/
@font-face {
    font-family: 'RokkittRegular';
    src: url('rokkitt-regular-webfont.eot');
    src: url('rokkitt-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('rokkitt-regular-webfont.woff') format('woff'),
    url('rokkitt-regular-webfont.ttf') format('truetype'),
    url('rokkitt-regular-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  Header */
#rcmGenTopHeader {
    background: url('/modules/rcm-generic/images/bg-navigation.jpg') no-repeat center 90px;
    width:940px;
    margin:0 auto;
    height:105px;
    padding:36px 10px 0;
    overflow: hidden;

}

#sitewrapper .SiteName {
    display:block;
    float:left;
    outline:none;
}

#sitewrapper .SiteName img {
    border:0;
}

#sitewrapper .SiteName h1 {
    font-family: 'RokkittRegular';
    color: #666666;
    font-size: 50px;
    display: block;
    position: relative;
    top: -30px;
}


/*  Navigation */
#sitewrapper .SiteNavigation {
    padding:13px 0 0;
    float:right !important;
}

#sitewrapper .SiteNavigation ul {
    margin:0;
    list-style:none;

}

#sitewrapper .SiteNavigation ul li {
    float:left;
    margin:0 0 0 63px;
    padding: 0;
}

#sitewrapper .SiteNavigation ul li.selected a, #sitewrapper .SiteNavigation ul li a:hover{
    color:#f78117;
}

#sitewrapper .SiteNavigation ul li a {
    font-size:16px;
    text-decoration:none;
    color:#5e5e5e;
    font-family: 'RokkittRegular';
    outline:none;
    display: inline;
    font-weight: normal;
}


/* Body */
#rcmGenMainBody {
    width:940px;
    margin:0 auto;
    padding:10px 10px 17px;
    overflow:hidden;
    min-height: 600px;
}


