#rcmAdminMenu, #rcmAdminMenu ul {
    float: left;
    width: 100%;
    list-style: none;
    font-weight: bold;
    padding: 0;
    margin: 0 0 .7em 0;
    background-color: #FFFFFF;
    border: solid #00A3E6;
    border-width: 1px 0;

}

#rcmAdminMenu a {
    display: block;
    /*width: 4em;*/
    color: #000000;
    text-decoration: none;
    padding: 0.10em 1.2em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

#rcmAdminMenu li {
    float: left;
    padding: 0;
    /*width: 6em;*/

}

#rcmAdminMenu li:hover {
    background: #00A3E6;
    border-radius: 3px 3px 0px 0px;

}

#rcmAdminMenu li ul {
    position: absolute;
    left: -999em;
    height: auto;
    width: 250px;
    font-weight: normal;
    border-width: 0.25em;
    margin: 0;
    border-radius: 0px 10px 10px 5px;
}

#rcmAdminMenu li li:hover {
    background: #00A3E6;
    border-radius: 0px 0px 0px 0px;
}

#rcmAdminMenu li li {
    padding-right: 1em;
    padding-left: 1em;
    width: 226px;
}

#rcmAdminMenu li ul a {
    width: 16em;
    padding-top: 5px;
    padding-bottom: 5px;
}

#rcmAdminMenu li ul a.additionalMenus {
    background-image: url("/modules/rcm/images/icons/arrow.png");
    background-position: center right;
    background-repeat: no-repeat;
}

#rcmAdminMenu li ul ul {
    margin: -30px 0 0 232px;
}

#rcmAdminMenu li:hover ul ul, #rcmAdminMenu li:hover ul ul ul {
    left: -999em;
}

#rcmAdminMenu li:hover ul, #rcmAdminMenu li li:hover ul, #rcmAdminMenu li li li:hover ul {
    left: auto;
}

#rcmAdminMenu li li.newPageIcon, #rcmAdminMenu li li.newPageIcon:hover {
    background-image: url("/modules/rcm/images/icons/karma/newpage.png");
    background-repeat: no-repeat;
    background-position: left center;
}

#rcmAdminMenu li li.publishIcon, #rcmAdminMenu li li.publishIcon:hover {
    background-image: url("/modules/rcm/images/icons/karma/publish.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.editSaveCancel {
    position: absolute;
    right: 30px;
    top: 1px;
}

#rcmAdminToolbarSaveCancel {
    display: none;
}

#rcmAdminToolbarPleaseWait {
    display: none;
}

span.ui-helper-hidden-accessible {
    display: none;
}
.rcmEditButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background: -moz-linear-gradient(center top, #3d94f6 5%, #1e62d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background-color: #3d94f6;
    border-radius: 42px;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 8px;
    text-decoration: none;
    text-shadow: none;
}

.rcmEditButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background: -moz-linear-gradient(center top, #1e62d0 5%, #3d94f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
    background-color: #1e62d0;
}

.rcmEditButton:active {
    position: relative;
    top: 1px;
}

/* This imageless css button was generated by CSSButtonGenerator.com */

.rcmSaveButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639));
    background: -moz-linear-gradient(center top, #fa665a 5%, #d34639 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
    background-color: #fa665a;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 8px;
    text-decoration: none;
    text-shadow: none;
}

.rcmSaveButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a));
    background: -moz-linear-gradient(center top, #d34639 5%, #fa665a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
    background-color: #d34639;
}

.rcmSaveButton:active {
    position: relative;
    top: 1px;
}

/* This imageless css button was generated by CSSButtonGenerator.com */

.rcmCancelButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 8px;
    text-decoration: none;
    text-shadow: none;
}

.rcmCancelButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}

.rcmCancelButton:active {
    position: relative;
    top: 1px;
}

#rcmAdminToolbarPublishButton {
    float: left;
}

.rcmPublishButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d385fa), color-stop(1, #a713d3));
    background: -moz-linear-gradient(center top, #d385fa 5%, #a713d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6fabc', endColorstr='#03d315');
    background-color: #d385fa;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 8px;
    text-decoration: none;
    text-shadow: none;
    margin-right: 10px;
}

.rcmPublishButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a713d3), color-stop(1, #d385fa));
    background: -moz-linear-gradient(center top, #a713d3 5%, #d385fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03d315', endColorstr='#a6fabc');
    background-color: #a713d3;
}

.rcmPublishButton:active {
    position: relative;
    top: 1px;
}

/* This imageless css button was generated by CSSButtonGenerator.com */

/*  Title Bar */
#rcmTitleBar {
    position: absolute;
    width: 300px;
    background: transparent;
    left: 50%;
    margin-left: -150px;
}

#rcmAdminTitleBarMenu {
    position: relative;
    margin: 2px 0 0 0;
    padding-left: 10px;
    padding-right: 10px;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    border: 1px solid #666666;
    display: block;
    width: inherit;
    height: 16px;
    cursor: pointer;
    text-align: center;
}

#rcmAdminTitleBarMenu li {
    background-image: url("/modules/rcm/images/icons/down.png");
    background-repeat: no-repeat;
    background-position: right 3px;
    list-style: none;
}

#rcmAdminTitleBarMenu li ul li {
    background: none;
    text-align: left;
    list-style: inside;
}

#rcmAdminTitleBarMenu, #rcmAdminTitleBarMenu li ul li a {
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #666666;
    width: 100%;
}

#rcmAdminTitleBarMenu li ul {
    display: none;
    background: #FFFFFF;
    border: 1px solid #666666;
    border-top: none;
    position: relative;
    top: -2px;
    left: -4px;
    padding: 10px;
    border-radius: 0 0 10px 5px;
}

#rcmAdminTitleBarMenu li ul li {
    padding-left: 0px;
}

#rcmAdminTitleBarMenu li ul li:hover {
    background: #00A3E6;
}

.rcmSaveMenu ul {
    display: none;
}

.ui-dialog {
    z-index: 1000000;
}