<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RCM HTML Editor Examples</title>

    <link href="/modules/rcm-twitter-bootstrap/bootstrap/css/bootstrap.css"
          media="screen"
          rel="stylesheet"
          type="text/css">
    <link href="/modules/rcm/rcm-html-editor.css"
          media="screen"
          rel="stylesheet"
          type="text/css">

    <!--[if lt IE 9]>
    <script type="text/javascript"
            src="/modules/rcm/es5-shim-master/es5-shim.min.js"></script><![endif]-->
    <script type="text/javascript"
            src="/modules/rcm-jquery/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
    <script type="text/javascript"
            src="/modules/rcm-angular-js/angular/angular.js"></script>
    <script type="text/javascript"
            src="/modules/rcm-twitter-bootstrap/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript"
            src="/modules/rcm-angular-js/ocLazyLoad/dist/ocLazyLoad.js"></script>
    <script type="text/javascript"
            src="/modules/rcm/rcm-core.js"></script>
    <script type="text/javascript"
            src="/modules/rcm-tinymce-js/tinymce/tinymce.js"></script>
    <script type="text/javascript"
            src="/modules/rcm/rcm-html-editor.js"></script>

    <script type="application/javascript">
        angular.module('RcmHtmlEditor')
            /* @EXAMPLE */
                .controller(
                'RcmHtmlEditorTestController',
                [
                    '$scope',
                    '$timeout',
                    'rcmHtmlEditorService',
                    function ($scope, $timeout, rcmHtmlEditorService) {

                        $scope.myModel = {
                            a: "My Test Text",
                            b: "Other Test Text",
                            c: "More Test Text",
                            d: "More Great Test Text",
                            e: "tttttttttt",
                            list: [
                                'one',
                                'two',
                                'three',
                                'four'
                            ]
                        };

                        $scope.rcmHtmlEditorService = rcmHtmlEditorService;

                        $scope.index = 3;

                        $scope.remove = function () {

                            $scope.myModel.list.splice(1, 1);
                        };

                        $scope.add = function () {

                            $scope.index++;
                            $scope.myModel.list.push('NEW-' + $scope.index);

                            //$scope.$evalAsync(
                            //    function ($scope) {
                            //        $scope.index++;
                            //        $scope.myModel.list.push('NEW-' + $scope.index);
                            //    }
                            //)

                            //$timeout(
                            //    function () {
                            //        $scope.index++;
                            //        $scope.myModel.list.push('NEW-' + $scope.index);
                            //    }
                            //)
                        };

                        // EXAMPLE of adding custom options using attribute
                        $scope.tinymceOptions = {
                            optionsName: 'fromScope',
                            force_br_newlines: false,
                            force_p_newlines: false,
                            forced_root_block: '',

                            inline: true,
                            fixed_toolbar_container: '#externalToolbarWrapper',

                            menubar: false,
                            plugins: "anchor, charmap, code, image, link, paste, spellchecker, template, elfinder",
                            relative_urls: true,
                            document_base_url: '/',
                            statusbar: false,

                            toolbar: [
                                // "code | undo redo | spellchecker | " +
                                "bold italic underline strikethrough subscript superscript removeformat | "
                                // "outdent indent | cut copy paste pastetext | " +
                                // "image charmap template | link unlink anchor"
                            ]
                        };
                    }
                ]
        );
    </script>

</head>
<body>
<div class="container" ng-app="RcmHtmlEditor" ng-controller="RcmHtmlEditorTestController">
    <div>
        <h1>RCM HTML Editor Examples</h1>
    </div>

    <div>
        <div>
            <h2>One</h2>
        </div>
        <div class="lead">
            Some details
        </div>
        <div>
            <p>More info</p>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <example>
                    Basic panel example
                </example>
            </div>
        </div>
    </div>
    <!-- //////////////////////////////// -->
    <div>
        <div>
            <h2>Fixed Toolbar</h2>
        </div>

        <div class="lead">
            Share a toolbar between editors
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <example>
                    <div>
                        <h5>Toolbar</h5>

                        <p>Shared toolbar</p>
                    </div>

                    <div style="position: relative; min-height: 80px;">
                        <div style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 1000">
                            <div html-editor-toolbar>
                                <!-- Use this to contain a master/shared toolbar -->
                            </div>
                        </div>
                    </div>

                    <div>
                        <h5>Simple editor</h5>
                    </div>
                    <div rcm-html-edit="something"
                         ng-model="myModel.a"
                            >
                        rcmHtmlEdit
                    </div>

                    <div>
                        <h5>Simple editor 2 with the same model and toolbar</h5>
                    </div>
                    <div rcm-html-edit="something"
                         ng-model="myModel.a"
                            >
                        rcmHtmlEdit
                    </div>
                </example>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <example>
                    <div>
                        <h5>Attached Toolbar</h5>

                        <p>Tool bar is not shared.</p>
                    </div>

                    <div style="position: relative; min-height: 80px;">
                        <div style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 1000">
                            <div html-editor-toolbar>
                                <!-- Use this to contain a master/shared toolbar -->
                            </div>
                        </div>
                    </div>

                    <div>
                        <h5>Simple editor</h5>
                    </div>
                    <div rcm-html-edit="something"
                         ng-model="myModel.a"
                            >
                        rcmHtmlEdit
                    </div>

                    <div>
                        <h5>Simple editor 2 with the same model and toolbar</h5>
                    </div>
                    <div rcm-html-edit="something"
                         ng-model="myModel.a"
                            >
                        rcmHtmlEdit
                    </div>
                </example>
            </div>
        </div>

    </div>

</div>
</body>
</html>